  		.flexBox
  		{
  			display: flex;
  			flex-wrap: wrap;
  		}
  		.innerStatsFlex
  		{
  			width: 300px;
  			margin: 30px 40px;
  		}

  		.specialInnerDiv
  		{
  			width: 355px;
  			margin: 25px 15px;
  		}

  		.numberBox{
  			width: 55px;font-size: 55px;float:left;font-weight: bold;color:#FECC00
  		}
		.boldTextBox
		{
			width: 300px;font-size: 18px;font-weight: bolder;padding-top:15px;
		}
		.lightTextBox
		{
			color:gray;font-size: 14px;
		}
		.bikeDiv
		{
			text-align: center;border-bottom:5px solid #9E9E9E;margin-left:0;margin-right:0;font-weight:bold; 
		}
  		.footer
  		{
  			background-color: #363636;
  			color: #ffff;
  			padding: 30px;
  		}
  		.footParaDiv
  		{
  			width: 80%;
  			margin: 0 auto;
  			margin-top: 20px;
  		}
  		.footParaDiv > p
  		{
  			font-size: 37px;
  			font-weight: bold;
  		}
  		.footerText
  		{
  			text-align: justify;
  		}
		.navColor{
			color: white;
  		}
		.firstDiv{
			background-image: url("img/BgImage.jpg");
			background-repeat: no-repeat;
	 		background-size: 100% auto;
	 		background-size: cover;
	 		width: 100%;
	 		height:400px;
	 		padding-top: 20px;
	}
	.special
	{
		text-align: center;font-weight: bold;font-size:30px;margin: 10px;
	}
	.bikeMainDiv
	{
		background-color:#EEEEEE;padding:20px;
	}
	.respButton
	{
		width: 50px;border :1px solid white;margin: 2px;
	}
	.innerStatsFlexWrapper
	{
		width: 90%;margin: 0 auto;justify-content: center;
	}
	.statsImg
	{
		width: 100%;
	}
	.ourFleet
	{
		text-align: center;font-weight: bold;font-size:30px;margin: 10px;
	}
	.bikeWrapper
	{
		width: 90%;margin:0 auto;justify-content: center;background-color: #ffff;
	}
	.SPECIALITYwrapper
	{
		width: 90%;margin: 0 auto;justify-content: center;
	}